<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <meta charset="UTF-8">
        <title>Hello World App</title>

        {% load bootstrap4 %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1,
            shrink-to-fit=no">
        <title>Hello world app</title>
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        {% load static %}
        <link href="{% static 'base/css/site.css'%}" rel="stylesheet">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        MySite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li><a style="color:white" href="">Home</a></li>
            <li class="nav-item"> <!-- here -->
            <p style="left:0; color:white; font-size:0.8rem; padding:0; margin:0; font-family: 'Playball', cursive;">
                <a class="nav-link" href="flowercreate/">Add New Flower</a>(Authorized Users Only)</p>
            </li>
        </ul>

    </div>
    <form action="/" method="get" class="form-inline mt-2 mt-md-0">
        <input id="q" name="q" value="{{ request.GET.q }}"
        class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<div id="content">
</div>
<main role="main" class="container">
    <div class="starter-template">
        {% block page_header %}{% endblock page_header %}
    </div>
</main>


</body>
</html>


{% load i18n %}
{% load account %}
{% load bootstrap4 %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Reset My Password</button>
        {% endbuttons %}
<!--        <input type="submit" value="{% trans 'Reset My Password' %}" />-->
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock content %}
